body {
	background-color: rgb(245,245,245);
}
#wrapper {
	max-width: 1500px;
	min-width: 600px;
	width: 80%;
	margin: 0 auto;
}
table {
	width: 100%;
	overflow: hidden;
}
table, tr, th, td {
	
}
tr td:nth-child(1) {
	text-align: center;
}
tr:nth-child(1) {
	background-color: rgb(18,18,18);
	color: #FFF;
}
tr:nth-child(1n + 2) {
	background-color: hsl(200, 100%, 30%);
}
tr:nth-child(2n + 2) {
	background-color: hsl(200, 50%, 50%);
}
tr:nth-child(n+2):hover {
	background-color: #C0392B;
}
td:hover {
	
}
caption {
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 5px;
}
.title {
	text-align: center;
	font-weight: bold;
}
.code {
	text-align: center;
}
.room {
	text-align: center;
}